#streamlit==0.87.0
#scikit-learn==1.0.1
#matplotlib==3.4.3
#numpy==1.21.3
#wget
#xarray
#altair==4.1.0
##dask==2021.9.1
#netcdf4
#h5netcdf
#requests
#io


streamlit
scikit-learn
matplotlib

sklearn
pandas
numpy
xarray
altair
dask
netcdf4
h5netcdf
plotly
wget
geopandas==0.13.0
shapely
metpy
scipy
pygwalker
